.navbar2 > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  /* padding: 20px 7rem; */
  list-style-type: none;
  width: 80%;
}

.navbar2 > ul > li {
  font-family: "B612 Mono", monospace;
  font-size: 17px;
  line-height: 21.76px;
  letter-spacing: 0.8px;
  font-weight: 400;
  cursor: pointer;
}

.navbar2 {
  display: flex;
  justify-content: flex-start;
  height: 5rem;
  border-bottom: 1px solid rgba(73, 80, 87, 0.2);
  padding: 0 8.5rem;
}

@media screen and (max-width: 991px) {
  .navbar2 {
    display: none;
  }
}
